// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}

// css article 
article {
    h1,
    h2,
    h3{
        font-family: "Montserrat", sans-serif;
        display: block;
    }
    h1 {
        font-size: var(--h1-fz);
        line-height: var(--h1-lh);
    }
    h2 {
        font-size: var(--h2-fz);
        line-height: var(--h2-lh);
    }
    h3 {
        font-size: var(--h3-fz);
        line-height: var(--h3-lh);
    }

    p {
        margin: 0 0 1.12rem 0;
    }
    strong { // font bold
        font-weight: bold; 
    }
    ol,
    ul {
        list-style: initial;
        padding-left: 18px;
    }
    img {
        display: inline-block;
        height: auto;
        overflow: hidden;
        border-radius: 10px;
        margin: 25px auto;
    }
}

.main__heading {
    font-weight: 700;
    &.--h1 {
        @include text(var(--h1-fz), $normal, var(--h1-lh),$color);
        text-align: left;
    }
    &.--h2 {
        @include text(var(--h2-fz),$normal,var(--h2-lh),$green-01);
    }
    &.--h3 {
        @include text(var(--h3-fz),$normal,var(--h3-lh),$green-01);
    }
    &.--list {
        margin: 80px auto 0;
        &::after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: $grey-00;
            position: absolute;
            transform: translate(10px,17px);
            border-radius: 10px;    
        }
    }
    &.--plain {
        margin-left: 0!important;
        margin-right: auto;
        &::before {
            display: none;
        }
    }
}
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    @include size(50px,50px);
    border: 3px solid $green-01;
    border-radius: 50%;
    cursor: pointer;
    @include transition($t);
    img {
        rotate: -180deg;
        position: absolute;
        left: 23%;
        top: 30%;
    }
}

.bg-img {
    position: absolute;
    top: 0;
    @include size(100%,100%);
    overflow: hidden;
    z-index: -1;
    &.fixed {
        position: fixed;
        top: 5%;
    }
}

.main-gallery {
    margin: 30px 0;
    height: 500px;
    .gallery-cell {
        width: 66%;
        height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 35px;
        counter-increment: carousel-cell; 
        cursor: pointer;
        filter: grayscale(100%);
        img {
            width: 80%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            @include transition($t);
            filter: grayscale(0%);
        }
        &.is-selected {
            height: 100%;
            @include transition($t);
        }
    } 
    @include xs {
        height: 350px;
        .gallery-cell {
            height: 280px;
        }
    }
}
//grid display
.wrapper {
    @include text(var(--body16-fz),$normal,var(--body16-lh),$color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: var(--gap);
    width: 100%;
        &__item {
            @include mid;
            height: 50px;
            position: relative;
            a {
                @include size(100%,100%);
                @include text(var(--h3-fz),$normal,var(--h3-lh),$color);
            }
            input {
                background: transparent;
                border: 1px solid $color;
                border-radius: 5px;
                padding: 0 15px;
                @include size(100%,100%);
                @include text(var(--body12-fz),$normal,var(--body12-lh),$color);
                &:focus {
                    border: none;
                    outline: solid $green-01;
                }
            }
            span {
                position: absolute;
                left: 5px;
                top: -10px;
                background-color: $black-00;
                border-radius: 5px;
                padding: 0 5px;
                font-weight: 700;
            }
            .arrow-down {
                position: absolute;
                right: 5%;
                @include xs {
                    @include size(15px,10px);
                    right: 10%;
                }
            }
        }
        @include md {
            @include text(1.2rem, $normal,1.8rem,$color);
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include sm {
            grid-template-columns: 1fr 1fr;
        }
}
//btn
.slider__btn {
    @include mid;
    @include text(var(--body16-fz), $normal, var(--body16-lh), $color);
    font-style: italic;
    letter-spacing: 0.14rem;
    max-width: 180px;
    height: 50px;
    padding: 15px 9px;
    border: 1px solid $color;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        @include transition($t);
        background-color:$color;
        color: $black-00;
    }
    @include sm {
        height: 40px;
    }
    @include xs {
        max-width: 150px;
        margin: 0 auto;
    }
    &.--green {
        background-color: $green-01;
        font-weight: bold;
        font-style: normal;
        border: none;    
        max-width: 250px;
        &:hover {
            background-color: $color;
            border: 1px solid $color;
        }
    }
}