.float {
    @include size(90%,100px);
    background: $black-00;
    border-radius: 10px;
    z-index: 3;
    text-align: center;
    @include mid(false);
    top: -11%;
    gap: var(--gap);
    p {
        &:first-child {
            color: $color;
            font-style: italic;
        }
        &:last-child {
            font-size: var(--body18-fz);
            color: $green-01;
            text-transform: uppercase;
            font-weight: bold;
            &::before {
                content: open-quote;
                position: absolute;
                font-size: 4rem;
                font-family: ui-sans-serif;
                transform: translateX(-20px);
            }
            &::after {
                content: close-quote;
                position: absolute;
                position: absolute;
                font-size: 4rem;
                font-family: ui-sans-serif;
            }
        }
    }
    @include md {
        padding: 0 16px;
    }
    @include xs {
        top: -2%;
        height: 30px;
        p {
            &:first-child {
                display: none;
            }
        }
    }
}
.main__text {
    display: flex;
    flex-direction: column; 
    
    &.--mt100 {
        margin-top: 100px;
        @include sm {
            margin-top: 20px;
        }
    }
    .detail-link {
        display: flex;
        align-items: center;
        @include text (var(--body14-fz),$normal,var(--body14-lh),$white-00);
        letter-spacing: 0.28rem;
        height: 30px;
        span {
            position: relative;
            &::after {
                content: "";
                width: 37px;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 15px;
            }
    
        }
        img {
            padding-left: 10px;
            display: inline-block;
            max-width: 30px;
            position: relative;
            left: 0;
            @include transition($t);
        }
        &:hover {
            img {
                left: 10px;
            }
        }
    }
    @include sm {
        margin-left: 0;
        max-width: 515px;
        .main__heading {
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
    }
    @include xs {
        margin-top: var(--gap);
    }
}
.textbox {
    width: 100%;
    margin-bottom: 35px;
    text-align: justify;
    &.--withspce {
        &::before {
            content: '';
            display: inline-block;
            width: var(--gap);
        }
    }
    @include xs {
        margin-bottom: 15px;
    }
}

//box size
.maxwid {
    width: 560px;
    @include md {
        width: 360px;
    }
    &--small {
        --max-width: 410px;
        max-width: var(--max-width);
        width: calc(100% - var(--max-width) - (var(--gap) * 2));
        @include md {
            --max-width: 360px;
        }
        @include xs {
            width: 100%;
        }
    }
    @include xs {
        max-width: 100%;
    }
}

.slider__btn {
    @include mid;
    @include text(var(--body16-fz), $normal, var(--body16-lh), $color);
    font-style: italic;
    letter-spacing: 0.14rem;
    max-width: 180px;
    height: 50px;
    padding: 15px 9px;
    border: 1px solid $color;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        @include transition($t);
        background-color:$color;
        color: $black-00;
    }
    @include sm {
        height: 40px;
    }
    @include xs {
        max-width: 150px;
        margin: 0 auto;
    }
}

.flex-clm {
    @include mid;
    flex-direction: column;
}

.flex-row {
    @include mid;
}
