footer {
    width: 100%;
    position: relative;
    z-index: 100;
    .flex-row {
        @include text(1.2rem, $normal, 2.2rem, $color);
    }
    .container {
        height: 100%;
        @include mid;
        padding: var(--pdLR);
        justify-content: space-between;
        position: relative;
        @include text(1.2rem, $normal, 2.2rem, $color);
        .flex-clm {
            max-width: 345px;
            gap: 20px;
            .logo {
                margin-right: auto;
                max-width: 221px;
            }
            .info {
                @include mid;
                flex-direction: column;
                gap: 5px;
                align-items: flex-start;
                li {
                    &:first-child {
                    @include text(1.5rem, $normal, 1.8rem, $color);
                    font-weight: bold;
                    margin-bottom: 5px;
                    }
                    strong {
                        font-weight: bold;
                    }
                    a {
                        @include text(1.5rem, $normal, 2.5rem, $color);
                        &:hover {
                            color: $green-01;
                            @include transition($t);
                        }
                    }
                }
            }
            &:nth-child(2) {
                margin: 30px 0 auto;
            }
        }
        .ggmap {
            width: 30%;
            height: 350px;
        }
        @include sm {
            .flex-clm {
                max-width: 300px;
            }
        }
        @include xs {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            --pdLR: 0 16px;
            .flex-clm {
                max-width: 100%;
                .logo{
                    @include size(98px,88px);
                    margin: 0 auto;
                }
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
            .ggmap {
                width: 100%;
                height: 250px;
                margin-bottom: 20px;
            }
        }
    }
    .credit {
        padding: 0 16px;
        text-align: center;
    }
}