.nav {
    display: none;

    @include sm {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        @include size (29%,100%);
        background: $black-00;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        @include transition($t);
        @include transform(translateX(100%));
        
        ul {
            text-align: center;
            width: 100%;
            @include mid(false);
            li {
                padding: 15px 0;
                a {
                    padding: 15px 0;
                    @include text (var(--body16-fz), $normal, var(--body16-lh), $color);
                    &:hover {
                        color: $green-01;
                        @include transition($t);
                    }
                }
            }
        }
        &.active {
            opacity: 1;
            pointer-events: auto;
            @include transform(translateX(0%));
        }
    }
    @include xs {
        @include size (100%,100%);
    }
}
