.slider {
    position: relative;
    @include size(100%,100vh);
    overflow: hidden;
    //arrow-down responsive
    --height-arrow: 60px;
    --width-arrow: 15px;
    --letter-spacing: 0.5rem;
    &__list {
        @include size(100%,100%);
        .slider__item {
            @include size(100%, 100%);
            display: none;
            position: relative;
            &.active {
                display: block;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    @include size(100%, 100%);
                    background: $black-00;
                    opacity: 0.25;
                    z-index: 1;
                }
            }

            .slider__content {
                max-width: 515px;
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                position: absolute;
                margin: var(--mgH1);
                z-index: 2;

                .main__heading {
                    letter-spacing: var(--letter-spacing);
                }
                img {
                    position: relative;
                    @include size(var(--width-arrow),var(--height-arrow));
                    cursor: pointer;
                    @include animation(scrldown 1.5s infinite);
                    @keyframes scrldown {
                        0% {
                            height: 0px;
                            opacity: 0;
                        }
                        50% {
                            height: calc(var(--height-arrow) - 2px);
                            opacity: 1;
                        }
                        100% {
                            height: var(--height-arrow);
                            opacity: 0;
                        }
                    }
                }
            }
            &__bg {
                min-width: 100%;
                min-height: 100%;
                z-index: -1;
            }
        }
    }
    &__page {
        position: absolute;
        --top-pageNo:40%;
        top: var(--top-pageNo);
        z-index: 2;
        max-width: 200px;
        @include transform(rotate(90deg));
        &__no {
            @include mid;
            gap: var(--gap);
            .page__no {
                 @include mid;
                @include text(var(--h2-fz),$normal,var(--h2-lh),$color);
                font-weight: bold;
                width: 110px;
                &::before {
                    content: "";
                    width: 30px;
                    height: 4px;
                    background-color: $color;
                    margin-right: 5px;
                    }
            }
            .page__dot {
                @include mid;
                gap: 14px;
                .dot {
                    @include size(10px,10px);
                    @include br(50%);
                    cursor: pointer;
                    background-color: $black-00;
                    opacity: 0.5;
                    &.active {
                        background-color: $color;
                        opacity: 1;
                        @include size(15px,15px);
                    }
                    &:hover {
                        @include transition($t);
                        background-color: $color;
                    }
                }
            }
        }
    }
    @include md {
        --height-Slider: 850px;
        --height-arrow: 48px;
        --width-arrow: 12px;
        height: var(--height-Slider);
        &__page {
            --top-pageNo:40%;
        }
    }
    @include sm {
        --height-Slider: 615px;
        --gap: 20px;
    }
    @include xs {
        --height-Slider: 100vh;
        --letter-spacing: 0rem;
        &__list {
            .slider__item {
                .slider__content {
                    max-width: 400px;
                    img {
                        margin: 0 auto;
                    }
                }
                &.__bg {
                    max-width: initial;
                    height: 100%;
                    @include mid(false);
                }
            }
        }
        &__page {
            @include transform(rotate(0deg));
            @include mid(false);
            top: 95%;
            margin: 0 auto;
            &__no {
                .page__no {
                    display: none;
                }
            }
        }
    }
}
.section {
    position: relative;
    .container {
        justify-content: flex-start;
        gap: var(--gap);
        position: relative;
        padding: var(--pdLR);
        overflow-x: clip;
        .main__heading {
            margin-left: auto;
            &::before {
                content: "";
                width: 100%;
                height: 5px;
                background-color: $grey-00;
                position: absolute;
                transform: translate(-101%,17px);
                border-radius: 10px;
            }
            &.--reverse {
                margin-left: 0;
                margin-right: auto;
                &::before {
                    display: none;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background-color: $grey-00;
                    position: absolute;
                    transform: translate(15px,17px);
                    border-radius: 10px;
                }
                @include xs {
                    margin-left: auto;
                }
            }
            @include xs {
                margin: 0 auto;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
        .section__main {
            @include mid;
            justify-content: space-between;
            width: 100%;
            .section__left {
                height: 650px;
                border-radius: 35px;
                overflow: hidden;
                img {
                    @include size(100%,100%);
                    object-fit: cover;
                }
                @include xs {
                    height: 350px;
                }
            }
            .section__right {
                &__img {
                    max-height: 280px;
                    border-radius:50px;
                    overflow: hidden;
                    img {
                        @include size(100%,100%);
                        object-fit: fill;
                    }
                }
                .main__text {
                    p:last-child {
                        font-style: italic;
                        font-weight: bold;
                    }
                }
            }
            .titleimg {
                position: absolute;
                transform: translate(-10%,-120%);
                @include sm {
                    max-width: 300px;
                    transform: translate(-5%,-240%);
                }
                @include xs {
                    transform: translateX(0);
                    transform: rotate(15deg);
                    top: -10%;
                }
            }   
            .circle__group {
                position: relative;
                --width-circle: 220px;
                --height-circle: 220px;
                --x-y-cirlce: 10%,30%;
                .group__item {
                    .item__img {
                        cursor: pointer;
                        @include size(var(--width-circle),var(--height-circle));
                        background: $white-00;
                        border: 5px solid $white-00;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        > img {
                            min-width: 100%;
                            min-height: 100%;
                            object-fit: cover;
                            @include mid(false);
                        }
                        &:hover {
                            @include transition($t);
                            transform: scale(1.2);
                        }
                    }
                    &:nth-child(2) {
                        @include mid(false);
                        transform: translate(0%,-60%);
                    }
                    &:last-child {
                        transform: translate(var(--x-y-cirlce));
                    }
                }
                @include md {
                    --width-circle: 180px;
                    --height-circle: 180px;
                    --x-y-cirlce: 5%,10%;
                }
                @include xs {
                    margin: 35px 0 30px;
                    --width-circle: 150px;
                    --height-circle: 150px;
                    --x-y-cirlce: 12%,20%;
                    .group__item {
                        &:nth-child(2) {
                            transform: translate(15%,-60%);
                        }
                    }
                }
            }
            .main__text {
                .slider__btn {
                    border: 0px solid;
                    max-width: fit-content;
                    padding: 0;
                    gap: 10px;
                    font-weight: bold;
                    img {
                        width: 40px;
                    }
                    &:hover {
                        @include transition($t);
                        background:transparent;
                        color: $white-00;
                        transform: translateX(10%);
                    }
                }
            }
            @include xs {
                flex-direction: column-reverse;
                .section__right {
                    flex-direction: column-reverse;
                }
            }
        }
        //Lĩnh vực thiết kế
        .option__field {
            .flex-row {
                margin: 70px auto 0;
                justify-content: space-around;
                .tag__link {
                    position: relative;
                    cursor: pointer;
                    filter: grayscale(100%);
                    width: calc(100%/2 - 32px - var(--gap));
                    .img-tag {
                        @include mid(false);
                        top: 0%;
                        &.--btm {
                            top: 100%;
                        }
                    }
                    .img-main {
                        border-radius: 30px;
                        width: 100%;
                        height: 400px;
                        img {
                            @include size(100%,100%);
                            object-fit: cover;
                        }
                        @include sm {
                            height: 350px;
                        }
                        @include xs {
                            height: 250px;
                        }
                    }
                    &:hover {
                        @include transition($t);
                        transform: scale(1.1);
                        filter: grayscale(0%);
                    }
                    @include xs {
                        width: calc(100%/2 - 20px);
                    }
                }
            }
        }
        &.sns {
            align-items: flex-start;
            .tiktok {
                width: 100%;
                .tiktok-embed {
                    margin-top: 0;
                }
            }
            .flex-clm {
                .img-sns {
                    margin-top: 50px;
                }
            }
            @include xs {
                flex-direction: column-reverse;
                .flex-clm {
                    align-items: center;
                    width: 100%;
                    flex-direction: column-reverse;
                    .img-sns {
                        margin-top: 0;
                        width: 250px;
                    }
                }
            }
        }
    }
}
//Quy trình thiết kế
.zoompic {
    .container {
        .option__field {
            .textbox {
                margin-bottom: 0;
            }
        }
        .flex-clm {
            align-items: flex-start;
            gap: var(--gap);
            width: 100%;
            .flex-row {
                gap: 15px;
                position: relative;
                .main__heading {
                    &::before {
                        display: none;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 5px;
                        background-color: $grey-00;
                        @include mid(false);
                        border-radius: 10px;
                        top: 120%;
                        @include transition(0.5s);
                    }
                    &:hover {
                        &::after{
                            background-color: $color;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.05);
                    @include transition($t);
                }
            }
            .zoom__img {
                display: none;
                max-width: 600px;
                max-height: 350px;
                cursor: pointer;
                position: relative;
                img {
                    @include size(100%,100%);
                    object-fit: cover;
                }
                &::before {
                    content: 'Ấn vào để xem ảnh phóng to';
                    color: $color;
                    @include mid(false);
                    opacity: 0;
                }
                &::after {
                    content: '';
                    background-color: $black-00;
                    @include size(100%,100%);
                    @include mid(false);
                    opacity: 0;
                }
                &:hover{
                    &::before {
                        opacity: 1;
                        z-index: 10;
                        @include transition($t);
                    }
                    &::after {
                        opacity: 0.7;
                        @include transition($t);
                    }
                }
                &--text {
                    @include mid(false);
                    z-index: 10;
                }
                &.active {
                    display: block;
                }
            }
        }
    }
}