.slider {
    position: relative;
    @include size(100%,100vh);
    overflow: hidden;
    &__list {
        @include size(100%,100%);
        .slider__item {
            @include size(100%, 100%);
            display: none;
            &.active {
                display: block;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    @include size(100%, 100%);
                    background: $black-00;
                    opacity: 0.25;
                    z-index: 1;
                }
            }

            .slider__content {
                max-width: 515px;
                height: 50%;
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                @include mid(false);
                left: 33%;
                z-index: 2;

                .main__heading {
                    letter-spacing: 0.5rem;
                }
                img {
                    position: relative;
                    @include transform(rotate(90deg));
                    left: -20px;
                    width: 60px;
                    cursor: pointer;
                    @include animation(scrldown 1.5s infinite);
                    @keyframes scrldown {
                        0% {
                            top: -5%;
                            opacity: 0;
                        }
                        50% {
                            top: 10%;
                            opacity: 1;
                        }
                        100% {
                            top: 10%;
                            opacity: 0;
                        }
                    }
                }
                
            }
            .slider__content-img {
                min-width: 100%;
                min-height: 100%;
                z-index: -1;
            }
        }
    }
    &__page {
        @include mid(false);
        top: 40%;
        left: -5%;
        z-index: 2;
        @include transform(rotate(90deg));
        
        .container-fluid {
            .slider__page__no {
                @include mid;
                gap: var(--gap);
                .page__no {
                    @include mid;
                    @include text(var(--h2-fz),$normal,var(--h2-lh),$color);
                    font-weight: bold;
                    width: 110px;

                    &::before {
                        content: "";
                        width: 30px;
                        height: 4px;
                        background-color: $color;
                        margin-right: 5px;
                        }
                }
                .page__dot {
                    @include mid;
                    gap: 14px;
                    .dot {
                        @include size(10px,10px);
                        @include br(50%);
                        cursor: pointer;
                        background-color: $black-00;
                        opacity: 0.5;
                        &.active {
                            background-color: $color;
                            opacity: 1;
                            @include size(15px,15px);
                        }
                        &:hover {
                            background-color: $color;
                            @include transition($t);
                        }
                    }
                }
            }
        }
    }
    @include md {
        --height-Slider: 850px;
        height: var(--height-Slider);
    }
    @include sm {
        --height-Slider: 600px;
        &__list {
            .slider__content-img {
                max-width: initial;
                height: 100%;
                @include mid(false);
            }
        }
        &__bottom {
            .container-fluid {
                .slider__bottom-mouse {
                    .mouse {
                        display: none;
                    }
                }
            }
        }
    }
    @include xs {
        --letter-spacing: 0.5rem;
        &__list {
            .slider__item {
                .slider__content {
                    .slider__btn {
                        font-size: var(--body12-fz);
                        line-height: var(--body12-lh);
                        --gapBtn: 15px;
                        max-width: 200px;
                    }
                }
            }
        }
        &__bottom {
            .container-fluid {
                .slider__bottom__page {
                    .page__number {
                        &::before {
                            display: none;
                        }
                    }
                    .page__dot {
                        display: none;
                    }
                }
                .slider__bottom-ctrl {
                    @include size(90px,30px);
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.section {
    position: relative;
    .container {
        justify-content: flex-start;
        gap: var(--gap);
        max-height: 740px;
        position: relative;
        padding: 0 76px;
        .main__heading {
            margin-left: auto;
            &::before {
                content: "";
                width: 100%;
                height: 5px;
                background-color: $grey-00;
                position: absolute;
                transform: translate(-101%,17px);
                border-radius: 10px;
            }
            &.--reverse {
                margin-left: 0;
                margin-right: auto;
                &::before {
                    display: none;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background-color: $grey-00;
                    position: absolute;
                    transform: translate(15px,17px);
                    border-radius: 10px;
                }
            }
        }
        .section__main {
            @include mid;
            justify-content: space-between;
            width: 100%;
            .section__left {
                max-width: 410px;
                max-height: 650px;
                border-radius: 35px;
                overflow: hidden;
                img {
                    @include size(100%,100%);
                }
            }
            .section__right {
                height: 650px;
                &__img {
                    max-height: 280px;
                    border-radius:50px;
                    overflow: hidden;
                    img {
                        @include size(100%,100%);
                        object-fit: fill;
                    }
                }
                .main__text {
                    p:last-child {
                        font-style: italic;
                        font-weight: bold;
                    }
                }
            }
            .titleimg {
                @include mid(false);
                top: 0;
                left: 20%;
            }   
            .circle__group {
                width: 540px;
                position: relative;
                .group__item {
                    .item__img {
                        cursor: pointer;
                        @include size(220px,220px);
                        background: $white-00;
                        border: 5px solid $white-00;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        > img {
                            min-width: 100%;
                            min-height: 100%;
                            object-fit: cover;
                            @include mid(false);
                        }
                        &:hover {
                            @include transition($t);
                            transform: scale(1.2);
                        }
                    }
                    &:nth-child(2) {
                        @include mid(false);
                        left: 80%;
                        bottom: -20%;
                    }
                    &:last-child {
                        transform: translate(16%,20%);
                    }
                }
            }
            .main__text {
                .slider__btn {
                    border: 0px solid;
                    max-width: fit-content;
                    padding: 0;
                    gap: 10px;
                    font-weight: bold;
                    img {
                        width: 40px;
                    }
                    &:hover {
                        @include transition($t);
                        background:transparent;
                        color: $white-00;
                        transform: translateX(10%);
                    }
                }
            }

        }
        //Lĩnh vực thiết kế
        .option__field {
            .flex-row {
                margin-top: 60px;
                gap: 160px;
                .tag__link {
                    position: relative;
                    cursor: pointer;
                    filter: grayscale(100%);
                    .img-tag {
                        @include mid(false);
                        top: 0%;
                        &.--btm {
                            top: 100%;
                        }
                    }
                    .img-main {
                        border-radius: 30px;
                        overflow: hidden;
                        max-width: 350px;
                        height: 380px;
                        img {
                            @include size(100%,100%);
                            object-fit: cover;
                        }
                    }
                    &:hover {
                        @include transition($t);
                        transform: scale(1.1);
                        filter: grayscale(0%);
                    }
                }
            }
        }
        &.sns {
            align-items: flex-start;
            .tiktok {
                width: 100%;
            }
            .flex-clm {
                .img-sns {
                    margin-top: 50px;
                }
            }

        }
    }
}
//Quy trình thiết kế
.zoompic {
    .container {
        .flex-clm {
            margin-right: auto;
            align-items: flex-start;
            gap: var(--gap);
            width: 100%;
            .flex-row {
                gap: 15px;
                position: relative;
                .main__heading {
                    &::before {
                        display: none;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 5px;
                        background-color: $grey-00;
                        @include mid(false);
                        border-radius: 10px;
                        top: 120%;
                        @include transition(0.5s);
                    }
                    &:hover {
                        &::after{
                            background-color: $color;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.05);
                    @include transition($t);
                }
            }
            .zoom__img {
                display: none;
                max-width: 600px;
                max-height: 350px;
                cursor: pointer;
                position: relative;
                img {
                    @include size(100%,100%);
                    object-fit: cover;
                }
                &::before {
                    content: 'Ấn vào để xem ảnh phóng to';
                    color: $color;
                    @include mid(false);
                    opacity: 0;
                }
                &::after {
                    content: '';
                    background-color: $black-00;
                    @include size(100%,100%);
                    @include mid(false);
                    opacity: 0;
                }
                &:hover{
                    &::before {
                        opacity: 1;
                        z-index: 10;
                        @include transition($t);
                    }
                    &::after {
                        opacity: 0.7;
                        @include transition($t);
                    }
                }
                &--text {
                    @include mid(false);
                    z-index: 10;
                }
                &.active {
                    display: block;
                }
            }
        }
    }
}
// .gallery {
//     background: $black-00;
//     .container {
//         .textbox {
//             color: $white-00;
//             .--h3 {
//                 color: $white-00;
//             }
//         }
//         @include sm {
//             .gallery__list {
//                 grid-template-columns: 1fr 1fr;
//             }
//         }
//         @include xs {
//             .gallery__list {
//                 grid-gap: 6px;
//                 grid-auto-rows: 120px;
//             }
//         }
//     }
// }
.news {
    .container {
        color: $black-00;
        .news__text {
            margin-bottom: 20px;
        }
        .news__btn {
            margin-bottom: 30px;
            display: flex;
            gap: 15px;
            span {
                background: $white-00;
                cursor: pointer;
                padding: 5px 10px;
                @include text(var(--body16-fz), $normal, normal, $white-00, uppercase);
                &:hover {
                    opacity: 0.8;
                    @include transition($t);
                }
                &.active {
                    background: $white-00;
                }
            }
        }
        .group__link {
            .news__group {
                @include mid;
                --column: 3;
                --gap-count: 2;
                --gap: 25px;
                --spacing: calc(var(--gap) * var(--gap-count) / var(--column));
                gap: var(--gap);
                --height-img: 200px;
                
                .news__item {
                    width: calc(100% / var(--column) - (var(--spacing)));
                    .news__img {
                        width: 100%;
                        height: var(--height-img);
                        overflow: hidden;
                        margin-bottom: 53px;
                        a {
                            display: block;
                            height: 100%;
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @include mid(false);
                                &:hover {
                                    @include transition($t);
                                    transform: translate(-50%,-50%) scale(1.1);
                                }
                            }
                        }
                    }
                    .news__text {
                        a {
                            display: inline-block;
                            @include text(var(--h4-fz), $normal, var(--h4-lh), $black-00);
                            letter-spacing: 0.036rem;
                            margin-bottom: 22px;
                            position: relative;
                            height: 50px;
                            h4 {
                                span {
                                    display: block;
                                }
                                @include overtext(2);
                            }
                            &::before {
                                content: "";
                                width: 83px;
                                height: 3px;
                                background-color: $white-00;
                                position: absolute;
                                top: -50%;
                                transform: translateY(-50%);
                            }
                        }
                        p {
                            @include overtext(3);
                        }
                    }
                }
            }
            &.external {
                display: none;
            }
        }
        @include sm {
            .news__group {
                --height-img: 180px;
            }
        }
        @include xs {
            .news__group {
                flex-direction: column;
                height: auto;
                --height-img: 260px;
                .news__item {
                    width: 100%;
                    .news__img {
                        margin-bottom: 40px;
                    }
                    .news__text {
                        a {
                            height: 30px;
                            margin-bottom: 0;
                            h4 {
                                line-height: normal;
                                span {
                                    display: inline-block;
                                }
                            }
                        }
                        p {
                            margin-top: 15px;
                            display: initial;
                        }
                    }
                }
            }
        }
    }
}
.popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    @include size (100vw,100vh);
    background: rgba(0, 0, 0, 0.9);
    @include mid;
    display: none;
    .iframe-wrap {
        position: relative;
        @include size (100%,100%);
        max-width: 700px;
        max-height: 400px;
        border: 2px solid $white-00;
        .popup-close {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $white-00;
            top: -5px;
            right: -50px;
            transform: translate(-50%,-50%);
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
                @include mid(false);
            }
        }
        @include sm {
            margin: 0 20px;
            .popup-close {
                width: 30px;
                height: 30px;
                right: -30px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        @include xs {
            height: 300px;
        }
    }
}